.deps/
.libs/
Makefile
Makefile.in
*.o
*.la
*.lo
*.8
aclocal.m4
autom4te.cache/
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.in
*.spec
dict.symbols
libtool
m4/
ntlmssptest
.dirstamp
stamp-h1
examples/mech.ntlmssp
po/*.mo
